<div class="row">
  <div class="col s1">
    <div class="statusFilter">
    <mat-form-field>
      <mat-select [(ngModel)]="state"  placeholder="Please choose">
        <div *ngFor="let s of states">
          <mat-option  [value]="s.value" >
          {{s.viewValue}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    </div>
  </div>
  <div class="col s1">
        <div  class="example-form">

            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off">


        </div>
  </div>
</div>
<br><br><br>



<!----------------------------------------------------------------------------->

<div class="mat-elevation-z8">

  <div [ngSwitch]="state">

    <div *ngSwitchCase="'all-4'">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef> STATUS </th>
          <td mat-cell *matCellDef="let element">

            <div *ngIf="element.status == 'PENDING' ">
               <span class="pending">{{element.status}}</span>
            </div>

            <div *ngIf="element.status == 'PROCESSING' ">
             <span class="processing">{{element.status}}</span>

           </div>

           <div *ngIf="element.status == 'DONE' ">
             <span class="done">{{element.status}}</span>
           </div>


           </td>
        </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">

              {{element.id}}

            </td>

          </ng-container>


          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element">

              {{element.Url}}

            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

<!----------------------------------------------------------------------------->

    <div *ngSwitchCase="'all'">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef> STATUS </th>
          <td mat-cell *matCellDef="let element">

            <div *ngIf="element.status == 'PENDING' ">
               <span class="pending">{{element.status}}</span>
            </div>

            <div *ngIf="element.status == 'PROCESSING' ">
             <span class="processing">{{element.status}}</span>

           </div>

           <div *ngIf="element.status == 'DONE' ">
             <span class="done">{{element.status}}</span>
           </div>


           </td>
        </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">

              {{element.id}}

            </td>

          </ng-container>


          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element">

              {{element.Url}}

            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

<!----------------------------------------------------------------------------->

    <div *ngSwitchCase="'pending-1'">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef> STATUS </th>
          <td mat-cell *matCellDef="let element">

            <div *ngIf="element.status == 'PENDING' ">
               <span class="pending">{{element.status}}</span>
            </div>



           </td>
        </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'PENDING' ">
              {{element.id}}
              </div>
            </td>

          </ng-container>


          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'PENDING' ">
              {{element.Url}}
              </div>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

    <!----------------------------------------------------------------------------->

    <div *ngSwitchCase="'processing-2'">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef> STATUS </th>
          <td mat-cell *matCellDef="let element">

            <div *ngIf="element.status == 'PROCESSING' ">
               <span class="processing">{{element.status}}</span>
            </div>

           </td>
        </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'PROCESSING' ">
              {{element.id}}
              </div>
            </td>

          </ng-container>


          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'PROCESSING' ">
              {{element.Url}}
              </div>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>


    </div>
<!----------------------------------------------------------------------------->

    <div *ngSwitchCase="'done-3'">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef> STATUS </th>
          <td mat-cell *matCellDef="let element">

            <div *ngIf="element.status == 'DONE' ">
               <span class="done">{{element.status}}</span>
            </div>



           </td>
        </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'DONE' ">
              {{element.id}}
              </div>
            </td>

          </ng-container>


          <ng-container matColumnDef="URL">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'DONE' ">
              {{element.Url}}
              </div>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>


    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>


</div>
