.statusFilter{
  margin-left: 130px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 400px;
}

.centered {
  width: 80%;
  margin-left: 130px;

}

.pending{
  color: red;
  font-family: "Arial Black";
}

.processing{
  color: blue;
  font-family: "Arial Black";
}

.done{
  color: green;
  font-family: "Arial Black";
}

.paginator{
  margin-left: 500px;
}
