<div class="row">
  <div class="col s1">
    <div class="statusFilter">
      <mat-form-field>
        <mat-select [(ngModel)]="state" placeholder="Please choose">
          <div *ngFor="let s of states">
            <mat-option [value]="s.value">
              {{s.viewValue}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col s1">
    <div class="example-form">

      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off">


    </div>
  </div>
</div>
<br><br><br>


<!----------------------------------------------------------------->
<table class="centered" [ngSwitch]="state">
  <thead>
    <tr>
      <th >ID</th>
      <th width="80%">URL</th>
      <th>STATUS</th>
    </tr>
  </thead>

  <tbody *ngSwitchCase="'empty'">
    <tr *ngFor="let i of info | paginate: {itemsPerPage: 4, currentPage: p}">
      <td>{{i.id}}</td>
      <td>{{i.Url}}</td>

      <div *ngIf="i.status == 'PENDING' ">

        <td><span class="pending">{{i.status}}</span></td>
      </div>
      <div *ngIf="i.status == 'PROCESSING' ">
        <td><span class="processing">{{i.status}}</span></td>
      </div>
      <div *ngIf="i.status == 'DONE' ">
        <td><span class="done">{{i.status}}</span></td>
      </div>
    </tr>
  </tbody>

  <tbody *ngSwitchCase="'all-4'">
    <tr *ngFor="let i of info | paginate: {itemsPerPage: 4, currentPage: p}">

        <td>{{i.id}}</td>
        <td>{{i.Url}}</td>

        <div *ngIf="i.status == 'PENDING' ">
          <td><span class="pending">{{i.status}}</span></td>
        </div>
        <div *ngIf="i.status == 'PROCESSING' ">
          <td><span class="processing">{{i.status}}</span></td>
        </div>
        <div *ngIf="i.status == 'DONE' ">
          <td><span class="done">{{i.status}}</span></td>
        </div>

      </tr>
  </tbody>

  <tbody *ngSwitchCase="'pending-1'">
    <tr *ngFor="let i of infoPending | paginate: {itemsPerPage: 4, currentPage: p}">

          <td>{{i.id}}</td>
          <td>{{i.Url}}</td>
          <td><span class="pending">{{i.status}}</span></td>

    </tr>
  </tbody>

  <tbody *ngSwitchCase="'processing-2'">
    <tr *ngFor="let i of infoProcessing| paginate: {itemsPerPage: 4, currentPage: p}">


          <td>{{i.id}}</td>
          <td>{{i.Url}}</td>
          <td><span class="processing">{{i.status}}</span></td>
        </tr>


  </tbody>

  <tbody *ngSwitchCase="'done-3'">
    <tr *ngFor="let i of infoDone| paginate: {itemsPerPage: 4, currentPage: p}">
          <td>{{i.id}}</td>
          <td>{{i.Url}}</td>
          <td><span class="done">{{i.status}}</span></td>
        </tr>
  </tbody>
</table>
<div class="paginator">
  <pagination-controls (pageChange)="p = $event"> </pagination-controls>
</div>
